/* General Styles */
body {
    background-color: #f2f4f3;
    margin: 0;
}

/* Nav Styles */
nav {
    background-color: #C6AC8F;
    color: #0A0908;
    display: flex;
    flex-direction: row;
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
    justify-content: space-between;
}

nav p, nav a {
    margin: 10px;
    padding: 7px;
}

nav a {
    color: #0A0908;
}

nav a:hover {
    color: #2e2e2e;
}

/* Footer Styles */
footer {
    background-color: #22333b;
    display: flex;
    justify-content: center;
    color: #f2f4f3;
}

footer a {
    color: #f2f4f3;
}

footer a:hover {
    color: #d1d1d1;
}

/* Splash Section */
.splash {
    
}

.splash h1 {
    color: #0A0908;
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 22px;
}

.splash img {
    border: #0A0908 solid;
    border-radius: 15%;
}

.splash p {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
}

/* Horizontal Rules */
hr {
    border: 3px solid;
    border-color: #5E503F;
}

/* Sections */
section {

}

/* Section Headings */
section h2 {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
}

section h3 { /*unnecessary??????????????*/
    font-size: 19px;
}

/* Paragraph Styles */
section p {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

/* link styles */
section a {
    color: #22333B;
    font-weight: 400;
    text-decoration: none;
}
section a:hover {
    text-decoration: underline;
}

/* List Styles */ /* NEEDS GRID LAYOUT */
ul {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

dl {
    font-size: 18px;
}
dl dt{}
dl dd{}

/* Project Section */
.three-col { /* NEEDS GRID LAYOUT */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-start;
    align-items: center;
    background-color: #C6AC8F;
    border-color: #22333B;
    border: solid;
    border-radius: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    padding: 1rem;
    width: 20rem;
    min-height: 30rem;
    margin: auto;
}

.card img {
    border-color: #22333B;
    border: solid;
    border-width: .1rem;
    border-radius: 15%;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.6);
    object-fit: cover;
    width: 60%;
}

.card h3 {
    margin-bottom: 0;
}

.card ul {

}

/* Contact Page Styles */
.one-col {}

form {}

form input, form textarea {}

form input:focus, form textarea:focus {}

form button {}

form button:hover {}


/* Fonts */

.tinos-regular {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .tinos-bold {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .tinos-regular-italic {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .tinos-bold-italic {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: italic;
  }